body{
    margin: 0;
}

header{
    background-color: #014E56;
    width: 100%;
    height: 517px;
    flex-shrink: 0;
}

.MyTeam{
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 95px;
    margin-top: 76px;
}

.hamburger{
    display: none;
}

.kryziukas{
    display: none;
}

.NavList{
    margin-top: -45px;
}

.home{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    margin-left: 365px;
}

.about{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 37px;
}

.home:link{
    color: #FFF;
    text-decoration: none;
}
.home:hover{
    color: #F67E7E;
    text-decoration: none;
    transition: 0.3s;
}

.about:link{
    color: #FFF;
    text-decoration: none;
}
.about:hover{
    color: #F67E7E;
    text-decoration: none;
    transition: 0.3s;
}

.contact:link{
    color: #FFF;
    text-decoration: none;
}
.contact:hover{
    background-color: #FFF;
    color: black;
    transition: 0.3s;
}

.NavList > li{
    display: inline-block;
}

.contact{
    position: absolute;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;    
    border: 2px white solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
    width: 88px;
    margin-left: 575px;
    margin-top: -1px;
    z-index: 3;
    transform: translateY(-60%);
}

.about_h1{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
    margin-left: 165px;
    margin-top: 123px;
}

.headerHr{
    position: absolute;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    border: 0;
    margin: 0;
    background: #F67E7E;
    margin-left: 545px;
    margin-top: 0px;
}

.headerP{
    position: absolute;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width: 730px;
    margin-left: 545px;
    margin-top: -98px;
}

.bottomimg{
    position: absolute;
    display: flex;
    height: 198px;
    width: 99px; 
    margin-top: -33px;
    right: 1px;
}

.headerCircle{
    position: absolute;
    right: -62px;
    bottom: 0;
    height: 200px;
    width: 225px;
    z-index: 2;
}

.background1{
    width: 100%;
    height: 1003px;
    flex-shrink: 0;
    background-color: #004047;
    position: absolute;
    margin-top: -1px;
}

img{
    position: absolute;
    z-index: 1;
}

.meet{
    color: #FFF;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 48px;
    margin-top: 135px;
}

.grid {
display: grid;
grid-template-columns: repeat(3, 350px);
grid-template-rows: repeat(2, 253px);
grid-column-gap: 30px;
grid-row-gap: 76px;
/* margin-left: 390px; */
width: 1082px;
margin: 59px 165px auto;

.div1 { grid-area: 1 / 1 / 2 / 2;}
.div2 { grid-area: 1 / 2 / 2 / 3;}
.div3 { grid-area: 1 / 3 / 2 / 4;}
.div4 { grid-area: 2 / 1 / 3 / 2;}
.div5 { grid-area: 2 / 2 / 3 / 3;}
.div6 { grid-area: 2 / 3 / 3 / 4;}
}

.square_lined{
    /* margin-left: 1750px; */
    /* margin-top: 50px; */
    right: 0;
    bottom: 0;
}

.background2{
    width: 100%;
    height: 438px;
    flex-shrink: 0;
    background-color: #012F34;
    position: absolute;
    margin-top: 1001px;
}

.clients_h1{
    color: #fff;
    text-align: center;
    font-family: "Livvic","sans-serif";
    font-size: 48px;
    font-weight: 700;
    margin-top: 134px;
}

.client_box{
    margin: 0 auto;
    width: 1450px;
}

.client_img{
    filter: brightness(0) invert(1);
}

.verge{
    margin-top: 25px;
    margin-left: 165px;
}

.jakarta{
    margin-top: 25px;
    margin-left: 410px;
}

.guardian{
    margin-top: 25px;
    margin-left: 673px;
}

.techradar{
    margin-top: 25px;
    margin-left: 933px;
}

.gadget{
    margin-top: 20px;
    margin-left: 1177px;
}

.oval{
    margin-top: 30px;
    margin-left: 125px;
}

.oval6{
    border-radius: 100%;
    width: 96px;
    height: 96px;
    border: 2px solid #C4FFFE;
}

.directors-name{
    color: #79C8C7;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    margin-top: 143px;
}

.directors-status{
    color: #FFF;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    margin-top: -12px;
}

.circle-icon{
    position: relative;
    width: 56px;
    height: 56px;
    margin-left: 147px;
    margin-top: 225px;
    z-index: 3;
}

.fill:hover{
    fill: #79C8C7;
    cursor: pointer;
}
.fill.is-flipped{
    fill: #79C8C7;
}
.fill.is-flipped:hover{
    fill: #F67E7E;
}

.rotate{
    transition: transform 1s;
}
.rotate.is-flipped{
    transform: rotate(+45deg);
    transition: transform 1s;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    background-color: #012F34;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card__face--back {
    background-color: #002529;
    transform: rotateY(180deg);
  }

  .quote{
    font-size: 16px;
    color: white;
    width: 260px;
    text-align: center;
    padding-left: 45px;
  }

  .directors-name-back{
    color: #79C8C7;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-top: 36px;
}

.fa{
    color: white;
    padding-left: 12px;
    padding-top: 22px;
    transition: color 0.5s;
    font-size: 10px;
}

.fa:first-of-type{
    padding-left: 145px;
}

.fa:hover{
    color: #F67E7E;
}

.red_part{
    font-family: Livvic;
    background-color: #F67E7E;
    height: 200px;
    z-index: 4;
    width: 100%;
    top: 1439px;
    position: relative;
}

.group_8{
    margin-top: 42px;
    z-index: 3;
    position: absolute;
    height: 170px;
}

.red_box{
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 260px;
    flex-shrink: 0;
    margin-top: 86px;
    margin-left: 273px;
}

.red_name{
    color: #012F34;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 3;
}

.contact_red_box{
    color: #012F34;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    border: 2px #012F34 solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
    margin-top: -11px;
    width: 90px;
}

.contact_red_box:hover{
    background-color: #012F34;
    color: white;
    transition: 0.3s;
}

/* footer */

footer{
    background-color: rgba(0, 37, 41, 1);
    height: 256px;
}

.footer_box{
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: 1438px;
    width: 100%;
    background-color: rgba(0, 37, 41, 1);
    z-index: 7;
    height: 197px;
}

.footer_container{
    width: 100px;
}

.footer_links{
    text-decoration: none;
    color: white;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    position: relative;
    top: 30px;
    transform: translateX(-310px);
}

.footer_links:hover{
    color: #F67E7E;
    transition: 0.3s;
}

.footer_nav{
    display: inline-flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    gap: 40px;
    margin-top: 40px;
    position: relative;
    z-index: 2;

}

.footer_logo{
    position: relative;
    z-index: 1;
    top: 50px;
    right: 310px;
}

.adres_box{
    color: #FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.adresas{
    margin-left: 190px;
    margin-top: 50px;
    width: 200px;
    line-height: 25px;
    word-spacing: 5px;
    position: relative;
    right: 415px;
    font-size: 14px;
    transform: translateX(100px);
}

.copyright{
    color: #FFF;
    /* text-align: right; */
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    margin-top: 48px;
    width: 255px;
    opacity: 0.6;
    margin-right: 163px;
}

.copyright_box{
    /* width: 100%; */
    position: absolute;
    right: 0;
}

.social_links_box{
    margin-top: 48px;
    margin-left: 149px;
}

.social_icons{
    fill: white;
    cursor: pointer;
}

.social_icons:hover{
    fill: #F67E7E;
    transition: 0.3s;
}

@media (min-width: 768px) and (max-width: 1439px)
  {
    .headerHr{
        display: none;
    }

    header{
        height: 557px;
    }

    .container{
        text-align: center;
    }

    .MyTeam{
        margin-left: 39px;
        margin-top: 72px;
        width: 128px;
        height: 32px;
    }

    .NavList{
        margin-left: -191px;
        margin-top: -41px;
    }

    .hamburger{
        display: none;
    }

    .kryziukas{
        display: none;
    }

    .contact{
        margin-left: 218px;
        margin-top: -2px;
        height: 24px;
        width: 89px;
    }

    .about_h1{
        margin-right: 160px;
        margin-top: 92px;
        font-size: 64px;
    }

    .bottomimg{
        margin-top: 6px;
        right: 0px;
    }

    .headerP{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-top: -40px;
        margin-left: 155px;
        width: 457px;
    }

    .background1{
        height: 1219px;
    }

    .left-half{
        z-index: 6;
        margin-top: -1px;
        margin-left: 1px;
    }
    .meet{
        margin-top: 96px;
        font-size: 32px;
    }

    .grid{
        grid-template-columns: repeat(2, 281px);
        grid-template-rows: repeat(3, 253px);
        width: 573px;
        margin-left: 98px;
        margin-top: 44px;
        column-gap: 11px;
    }

    .oval{
        margin-left: 91px;
    }

    .directors-name{
        margin-top: 145px;
    }

    .directors-status{
        margin-top: -13px;
    }

    .circle-icon{
        margin-left: 113px;
    }

    .directors-name-back{
        margin-top: 38px;
    }

    .quote{
        width: 233px;
        height: 75px;
        margin-left: -18px;
        margin-bottom: -6px;
    }

    .fa-twitter{
        margin-left: -35px;
        margin-top: -110px;
    }

    .background2{
        margin-top: 1218px;
        height: 308px;
    }

    .footer_logo {
        position: absolute;
        z-index: 1;
        width: 96px;
        height: 24px;
        margin-top: 7px;
        left: 39px;
    }

    footer{
        background-color: rgba(0, 37, 41, 1);
        height: 271px;
        margin-top: -24px;
    }
    
    .footer_box{
        display: inline-flex;
        justify-content: center;
        position: relative;
        top: 1550px;
        width: 100%;
        height: 271px;
        background-color: rgba(0, 37, 41, 1);
        z-index: 7;
    }
    
    .footer_links{
        text-decoration: none;
        color: white;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        text-align: left;
        position: relative;
        transform: translateX(-245px) translateY(45px);
    }
    
    .footer_links:last-child{
        margin-left: -16px;
    }

    .footer_links:hover{
        color: #F67E7E;
        transition: 0.3s;
    }
    
    .footer_nav{
        display: inline-flex;
        gap: 40px;
        margin-top: 30px;
        position: relative;
        z-index: 2;
        margin-left: 146px;
        margin-top: 57px;
    }

    .adres_box{
        color: #FFF;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        opacity: 0.6;
    }
    
    .adresas{
        position: relative;
        margin-top: 56px;
        width: 200px;
        line-height: 25px;
        text-align: right;
        right: 5px;
    }
    
    .copyright{
        color: #FFF;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        margin-top: -80px; 
        position: relative;
        right: -132px;
        top: 51px;
    }
    
    .copyright_box{
        position: absolute;
        margin-top: -59px;
        left: 345px;
    }
    
    .social_links_box{
        margin-top: 250px;
        margin-left: -305px;
    }
    
    .social_icons{
        fill: white;
        cursor: pointer;
    }
    
    .social_icons:hover{
        fill: #F67E7E;
        transition: 0.3s;
    }

    .red_part{
        font-family: Livvic;
        background-color: #F67E7E;
        height: 200px;
        z-index: 4;
        width: 100%;
        top: 1526px;
        position: relative;
    }
    
    .group_8{
        margin-top: 65px;
        margin-left: 1px;
        z-index: 3;
        position: absolute;
    }
    
    .red_box{
        display: inline-flex;
        height: 48px;
        justify-content: center;
        align-items: flex-start;
        gap: 260px;
        flex-shrink: 0;
        margin-top: 86px;
        margin-left: 273px;
        
    }
    
    .red_name{
        color: #012F34;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin: 0;
        z-index: 3;
        width: 336px;
        font-size: 32px;
        white-space: nowrap;
        height: 44px;
        margin-left: -175px;
        margin-top: 5px;
    }
    
    .contact_red_box{
        color: #012F34;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-left: -300px;
        margin-top: -3px;
        position: relative;
        top: -7px;
        text-decoration: none;
        border: 2px #012F34 solid;
        border-radius: 60px;
        padding: 8px 29px 8px 30px;
        position: relative;
        right: -124px;
    }
    
    .contact_red_box:hover{
        background-color: #012F34;
        color: white;
        transition: 0.3s;
    }
   
    .clients_h1{
        font-size: 32px;
        margin-top: 96px;
        margin-left: 1px;
    }

    .verge{
        margin-left: 40px;
        margin-top: 21px;
        width: 103px;
        height: 17px;
    }
    
    .jakarta{
        margin-left: 192px;
        margin-top: 21px;
        width: 114px;
        height: 14px;
    }
    
    .guardian{
        margin-left: 355px;
        margin-top: 21px;
        width: 112px;
        height: 17px;
    }
    
    .techradar{
        margin-left: 516px;
        margin-top: 21px;
        width: 103px;
        height: 17px;
    }
    
    .gadget{
        margin-left: 668px;
        margin-top: 17px;
        width: 61px;
        height: 28px;
    }

    .blue_moon {
        z-index: 0;
        position: absolute;
        top: -100px;

    }

    .background1 {
        z-index: 1;
    }

}


@media  (max-width: 767px){
    
    header{
        margin-top: 0;
        height: 398px;
    }

    .left-half{
        z-index: -1;
        margin-top: -100px;
        margin-left: 1px;
    }

    .square_lined{
        margin-bottom: 237px;
        margin-right: -1px;
    }

    .background1{
        height: 2300px;
        z-index: -2;
    }

    .darken{
        position: absolute;
        z-index: 0;
    }

    .grid{
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(6, 253px);
        width: 375px;
        margin-left: 0px;
        margin-top: 44px;
        row-gap: 52px;
    }

    .card{
        width: 327px;
        margin-left: 25px;
    }

    .oval{
        margin-left: 113.5px;
        z-index: 5;
    }

    .directors-name{
        margin-top: 145px;
    }

    .circle-icon{
        position: absolute;
        margin-left: 136px;
        z-index: 10;
    }

    .circle-icon.is-flipped{
        fill: red;
    }

    .fa-twitter{
        margin-left: -11px;
    }

    .meet{
        margin-top: 85px;
        margin-left: 1px;
        font-size: 32px;
    }

    .client_box{
        width: 120px;
    }

    .NavList > li{
        display: block;
        flex-direction: column;
        width: 100%;
    }

    .headerHr{
        display: none;
    }

    .NavList a{
        color: white;
        text-decoration: none;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    }

    .NavList.active{
        right: 350px;
        transform: translateX(0);
    }

    .NavList{
        display: none;
    }

    .home, .about, .contact {
        color: #FFF;
        font-family: "Livvic", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 63px;
        margin-left: 0;
        text-decoration: none; 
        display: block;  
        width: 60px;
    }

    .home{
        margin-top: 25px;
        margin-left: 9px;
    }

    .about{
        margin-top: -11px;
        margin-left: 10px;
    }

    .contact{
        padding: 10px 15px 10px 15px;
        transform: translateY(0);
        width: 124px;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .MyTeam{
        margin-top: 55px;
        margin-left: 25px;
        height: 32px;
        width: 128px;
    }

    .bottomimg{
        margin-top: 97px;
        margin-right: -1px;
        overflow: hidden;
        height: 196px;
    }

    .hamburger{
        position: absolute;
        display: flex;
        margin-left: 331px;
        margin-top: 4px;
        transform: translateY(-185%);
        z-index: 15;
    }
    
    .hamburger.hidden{
        display: none;
    }

    .kryziukas{
        display: none;
        z-index: 16;
    }

    .kryziukas.active{
        display: flex;
        position: fixed;
        margin-top: 126px;
        margin-left: 213px;
        z-index: 1;
        transform: translateY(355%);
    }

    .menuimg{
        margin-left: 117px;
        margin-top: 239px;
    }

    .about_h1{
        position: relative;
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        margin-left: 2px;
        margin-top: 122px;
        padding-top: 38px;
    }

    .headerP{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; 
        width: 327px;
        margin-left: 25px;
        margin-top: -10px;
    }

    .footer_logo {
        position: absolute;
        margin-top: 17px;
        left: 140px;
        width: 96px;
        height: 24px;
    }

    footer{
        background-color: #002529;
        height: 432px;
        margin-top: 1060px;
    }
    
    .footer_box{
        display: inline-flex;
        justify-content: center;
        position: relative;
        top: 0px;
        width: 100%;
        height: 350px;
        background-color: #002529;;
    }
    
    .footer_links{
        text-decoration: none;
        color: white;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        position: relative;
        top: -2px;
        transform: translateX(-53px);
        margin-left: -15px;
    }
    
    .footer_links:hover{
        color: #F67E7E;
        transition: 0.3s;
    }
    
    .footer_nav{
        display: inline-flex;
        gap: 40px;
        margin-top: 30px;
        position: relative;
        z-index: 0;
        margin-left: 163px;
        margin-top: 115px;
    }

    .adres_box{
        color: #FFF;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        opacity: 0.6;
    }
    
    .adresas{
        position: relative;
        margin-top: 163px;
        margin-left: 0px;
        right: 55px;
        width: 200px;
        line-height: 25px;
        text-align: center;
        transform: translateX(5px);
    }
    
    .copyright{
        color: #FFF;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        margin-top: 267px; 
        position: relative;
        right: -105px;
    }
    
    .copyright_box{
        position: absolute;
        right: 0;
    }
    
    .social_links_box{
        position: relative;
        top: 255px;
        left: 31px;
    }
    
    .social_icons{
        fill: white;
        cursor: pointer;
    }
    
    .social_icons:hover{
        fill: #F67E7E;
        transition: 0.3s;
    }

    .red_part{
        font-family: Livvic;
        background-color: #F67E7E;
        height: 302px;
        width: 100%;
        top: 1060px;
        position: relative;
    }
    
    .group_8{
        margin-top: 167px;
        margin-left: 1px;
        position: absolute;   
    }
    
    .red_box{
        display: inline-flex;
        height: 48px;
        justify-content: center;
        align-items: flex-start;
        gap: 260px;
        flex-shrink: 0;
        margin-top: 86px;
        margin-left: 0px;
        width: 375px;
    }
    
    .red_name{
        text-align: center;
        color: #012F34;
        line-height: 32px;
        margin: 0;
        font-size: 32px;
        margin-left: 2px;
        margin-top: -3px;
        height: 64px;
        position: absolute;
        width: 200px;
    }
    
    .contact_red_box{
        color: #012F34;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        width: 100px;
        position: relative;
        top: 96px;
        left: 1px;
        text-decoration: none;
        border: 2px #012F34 solid;
        border-radius: 60px;
        padding: 8px 19px 8px 30px;
        justify-content: center;
        z-index: 5;
    }
    
    .contact_red_box:hover{
        background-color: #012F34;
        color: white;
        transition: 0.3s;
    }

    .clients_h1{
        color: #fff;
        text-align: center;
        font-family: "Livvic","sans-serif";
        font-size: 32px;
        position: relative;
        left: 1px;
        font-weight: 700;
        margin-top: 84px;
    }
    
    .client_img{
        filter: brightness(0) invert(1);
    }
    
    .verge{
        margin-top: -52px;
        margin-left: -14px;
        width: 146px;
        height: 25px;
    }

    .client_box {
        position: relative;
        top: 85px;
    }
    
    .jakarta{
        margin-top: 30px;
        margin-left: -21px;
        width: 162px;
        height: 19px;
    }
    
    .guardian{
        margin-top: 106px;
        margin-left: -20px;
        width: 159px;
        height: 24px;
    }
    
    .techradar{
        margin-top: 187px;
        margin-left: -14px;
        width: 146px;
        height: 24px;
    }
    
    .gadget{
        margin-top: 268px;
        margin-left: 16px;
        width: 86px;
        height: 39px;
    }

    .blue_moon {
        position: absolute;
        top: -100px;
        left: -100px;
    }

    .background2 {
        position: relative;
        top: 1061px;
        height: 633px;
        overflow: hidden;
    }

    .MyTeamCont{
        position: fixed;
        width: 100%;
        height: 15%;
        margin-top: -129px;
        padding-bottom: -20px;
        background-color: #014E56;
        z-index: 3;
    }

    .MyTeamCont.deactivate{
        height: 130px;
        position: absolute;
    }

    .slider {
        margin-top: -130px;
        position: fixed;
        right: 0;
        width: 76%;
        height: 1200px;
        z-index: 15;
        transform: translateX(10%);
        transition: transform 0.5s ease;
        pointer-events: none;
      }

      .slider.active{
        pointer-events: auto;
      }

      .darken.active{
        filter: brightness(50%);
      }
}


.overlay{
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 100%;
    background-color: #2C6269;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    list-style-type: none;
}

.overlay-list{
    position: absolute;
    padding-left: 40px;
    list-style-type: none;
    margin-top: 200px;
    z-index: 15;
}

.slide{
    width: 100%;
    left: 0;
}

.container1{
    position: relative;
    width: 100%;
}

