header{
    background-color: #014E56;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
}

.MyTeam{
    width: 160px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 165px;
    margin-top: 77px;
}

.NavList{
    margin-top: -40px;
}

.home{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-left: 365px;
}

.about{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 40px;
}

.home:link{
    color: #FFF;
    text-decoration: none;
}
.home:hover{
    color: #F67E7E;;
    text-decoration: none;
}

.about:link{
    color: #FFF;
    text-decoration: none;
}
.about:hover{
    color: #F67E7E;;
    text-decoration: none;
}

.contact:link{
    color: #FFF;
    text-decoration: none;
}
.contact:hover{
    background-color: #FFF;
    color: black;
}

.NavList > li{
    display: inline-block;
}

.contact{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-left: 1400px;    
    border: 2px white solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
}

.about_h1{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
    margin-left: 185px;
    margin-top: 130px;
}

.headerHr{
    position: absolute;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    border: 0;
    margin: 0;
    background: #F67E7E;
    margin-left: 830px;
    margin-top: 30px;
}

.headerP{
    position: absolute;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width: 730px;
    margin-left: 830px;
    margin-top: -50px;
}

.headerCircle{
    margin-left: 94.7%;
    margin-top: -10px;
}

.background1{
    width: 100%;
    height: 1002px;
    flex-shrink: 0;
    background-color: #004047;
    position: absolute;
}

img{
    position: absolute;
    z-index: 1;
}

.meet{
    color: #FFF;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 48px;
    margin-top: 170px;
}

.grid {
display: grid;
grid-template-columns: repeat(3, 350px);
grid-template-rows: repeat(2, 253px);
grid-column-gap: 30px;
grid-row-gap: 76px;
margin-left: 390px;

.div1 { grid-area: 1 / 1 / 2 / 2; background-color: #012F34;}
.div2 { grid-area: 1 / 2 / 2 / 3; background-color: #012F34;}
.div3 { grid-area: 1 / 3 / 2 / 4; background-color: #012F34;}
.div4 { grid-area: 2 / 1 / 3 / 2; background-color: #012F34;}
.div5 { grid-area: 2 / 2 / 3 / 3; background-color: #012F34;}
.div6 { grid-area: 2 / 3 / 3 / 4; background-color: #012F34;}
}

.square_lined{
    margin:0;
}

.background2{
    width: 100%;
    height: 437px;
    flex-shrink: 0;
    background-color: #012F34;
}