body{
    margin: 0;
}

header{
    background-color: #014E56;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
}

.MyTeam{
    width: 160px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 165px;
    margin-top: 77px;
}

.hamburger{
    display: none;
}

.kryziukas{
    display: none;
}

.NavList{
    margin-top: -40px;
}

.home{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-left: 365px;
}

.about{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 40px;
}

.home:link{
    color: #FFF;
    text-decoration: none;
}
.home:hover{
    color: #F67E7E;
    text-decoration: none;
    transition: 0.3s;
}

.about:link{
    color: #FFF;
    text-decoration: none;
}
.about:hover{
    color: #F67E7E;
    text-decoration: none;
    transition: 0.3s;
}

.contact:link{
    color: #FFF;
    text-decoration: none;
}
.contact:hover{
    background-color: #FFF;
    color: black;
    transition: 0.3s;
}

.NavList > li{
    display: inline-block;
}

.contact{
    position: absolute;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;    
    border: 2px white solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
    width: 88px;
    margin-left: 45vw;
    z-index: 3;
    transform: translateY(-60%);
}

.about_h1{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; 
    margin-left: 185px;
    margin-top: 130px;
}

.headerHr{
    position: absolute;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    border: 0;
    margin: 0;
    background: #F67E7E;
    margin-left: 830px;
    margin-top: 30px;
}

.headerP{
    position: absolute;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    width: 730px;
    margin-left: 830px;
    margin-top: -50px;
}

.bottomimg{
    position: relative;
    display: flex;
    height: 130px; 
    margin-top: 100px; 
}

.headerCircle{
    position: absolute;
    right: 0;
    bottom: 0;
}

.background1{
    width: 100%;
    height: 1002px;
    flex-shrink: 0;
    background-color: #004047;
    position: absolute;
}

img{
    position: absolute;
    z-index: 1;
}

.meet{
    color: #FFF;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 48px;
    margin-top: 170px;
}

.grid {
display: grid;
grid-template-columns: repeat(3, 350px);
grid-template-rows: repeat(2, 253px);
grid-column-gap: 30px;
grid-row-gap: 76px;
/* margin-left: 390px; */
width: 1082px;
margin: 0 auto;

.div1 { grid-area: 1 / 1 / 2 / 2;}
.div2 { grid-area: 1 / 2 / 2 / 3;}
.div3 { grid-area: 1 / 3 / 2 / 4;}
.div4 { grid-area: 2 / 1 / 3 / 2;}
.div5 { grid-area: 2 / 2 / 3 / 3;}
.div6 { grid-area: 2 / 3 / 3 / 4;}
}

.square_lined{
    /* margin-left: 1750px; */
    /* margin-top: 50px; */
    right: 0;
    bottom: 0;
}

.background2{
    width: 100%;
    height: 550px;
    flex-shrink: 0;
    background-color: #012F34;
    position: absolute;
    margin-top: 1002px;
}

.clients_h1{
    color: #fff;
    text-align: center;
    font-family: "Livvic","sans-serif";
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
}

.client_box{
    margin: 0 auto;
    width: 1450px;
}

.client_img{
    filter: brightness(0) invert(1);
}

.verge{
    margin-top: 70px;
    margin-left: 70px;
}

.jakarta{
    margin-top: 70px;
    margin-left: 340px;
}

.guardian{
    margin-top: 70px;
    margin-left: 640px;
}

.techradar{
    margin-top: 70px;
    margin-left: 940px;
}

.gadget{
    margin-top: 64px;
    margin-left: 1240px;
}

.oval{
    margin-top: 32px;
    margin-left: 127px;
}

.oval6{
    border-radius: 100%;
    width: 96px;
    height: 96px;
    border: 2px solid #C4FFFE;
}

.directors-name{
    color: #79C8C7;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    margin-top: 150px;
}

.directors-status{
    color: #FFF;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    margin-top: -10px;
}

.circle-icon{
    position: relative;
    width: 56px;
    height: 56px;
    margin-left: 147px;
    margin-top: 225px;
    z-index: 3;
}

.fill:hover{
    fill: #79C8C7;
    cursor: pointer;
}
.fill.is-flipped{
    fill: #79C8C7;
}
.fill.is-flipped:hover{
    fill: #F67E7E;
}

.rotate{
    transition: transform 1s;
}
.rotate.is-flipped{
    transform: rotate(+45deg);
    transition: transform 1s;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    background-color: #012F34;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card__face--back {
    background-color: #002529;
    transform: rotateY(180deg);
  }

  .quote{
    font-size: 20px;
    color: white;
    width: 260px;
    text-align: center;
    padding-left: 45px;
  }

  .directors-name-back{
    color: #79C8C7;
    text-align: center;
    font-family: "Livvic", "sans-serif";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
}

.fa{
    color: white;
    padding-left: 20px;
    transition: color 0.5s;
}

.fa:first-of-type{
    padding-left: 125px;
}

.fa:hover{
    color: #F67E7E;
}

.red_part{
    font-family: Livvic;
    background-color: #F67E7E;
    height: 220px;
    z-index: 4;
    width: 100%;
    top: 1550px;
    position: relative;
}

.group_8{
    margin-top: 76px;
    z-index: 3;
    position: absolute;
    
}

.red_box{
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 260px;
    flex-shrink: 0;
    margin-top: 86px;
    margin-left: 273px;
    
}

.red_name{
    color: #012F34;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    z-index: 3;
    
}

.contact_red_box{
    color: #012F34;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    border: 2px #012F34 solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
}

.contact_red_box:hover{
    background-color: #012F34;
    color: white;
    transition: 0.3s;
}

/* footer */

footer{
    background-color: rgba(0, 37, 41, 1);
    height: 196px;
    
}

.footer_box{
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: 1550px;
    width: 100%;
    background-color: rgba(0, 37, 41, 1);
    z-index: 7;
    height: 200px;
}

.footer_links{
    text-decoration: none;
    color: white;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    position: relative;
    right: 550px;
    top: 70px;
}

.footer_links:hover{
    color: #F67E7E;
    transition: 0.3s;
}

.footer_nav{
    display: inline-flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    gap: 40px;
    margin-top: 40px;
    position: relative;
    z-index: 2;

}

.footer_logo{
    position: relative;
    z-index: 1;
    top: 20px;
    right: 400px;

}

.adres_box{
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.adresas{
    margin-left: 190px;
    margin-top: 45px;
    width: 200px;
    line-height: 25px;
    position: relative;
    right: 500px;
}

.copyright{
    color: #FFF;
    /* text-align: right; */
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    margin-top: 42px;
    width: 255px;
    opacity: 0.6;
    margin-right: 165px;
}

.copyright_box{
    /* width: 100%; */
    position: absolute;
    right: 0;
}

.social_links_box{
    margin-top: 48px;
    margin-left: 145px;
    
}

.social_icons{
    fill: white;
    cursor: pointer;
}

.social_icons:hover{
    fill: #F67E7E;
    transition: 0.3s;
}

@media (min-width: 768px) and (max-width: 1440px)
  {
    .headerHr{
        display: none;
    }

    .container{
        text-align: center;
    }

    .MyTeam{
        margin-left: 39px;
    }

    .NavList{
        margin-left: -150px;
    }

    .hamburger{
        display: none;
    }

    .kryziukas{
        display: none;
    }

    .contact{
        margin-left: 150px;
    }

    .about_h1{
        margin-right: 150px;
        margin-top: 105px;
    }

    .bottomimg{
        margin-top: 155px;
    }

    .headerP{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-top: 2px;
        margin-left: 160px;
        width: 457px;
    }

    .background1{
        height: 1328px;
    }
    
    .grid{
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(3, 253px);
        width: 716px;
    }

    .background2{
        margin-top: 1328px;
        height: 680px;
    }
    
    .footer_logo {
        position: absolute;
        z-index: 1;
        margin-top: 50px;
        left: 40px;
    }
    footer{
        background-color: rgba(0, 37, 41, 1);
        height: 196px;
        
    }
    
    .footer_box{
        display: inline-flex;
        justify-content: center;
        position: relative;
        top: 1550px;
        width: 100%;
        height: 350px;
        background-color: rgba(0, 37, 41, 1);
        z-index: 7;
    }
    
    .footer_links{
        text-decoration: none;
        color: white;
        font-family: Livvic;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        position: relative;
        right: 160px;
        top: 65px;
       
    
    }
    
    .footer_links:hover{
        color: #F67E7E;
        transition: 0.3s;
    }
    
    .footer_nav{
        display: inline-flex;
        /* justify-content: center; */
        /* align-items: flex-start; */
        gap: 40px;
        margin-top: 30px;
        position: relative;
        z-index: 2;
        margin-left: 163px;
        margin-top: 115px;
    }
    .adres_box{
        color: #FFF;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        opacity: 0.6;
    }
    
    .adresas{
        right:  190px;
        position: relative;
        margin-top: 75px;
        width: 200px;
        line-height: 25px;
         text-align: right;
         right: 25px;
    }
    
    .copyright{
        color: #FFF;
        /* text-align: right; */
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        margin-top: -80px; 
        position: relative;
        right: -90px;
        top: 50px;
       
      
    }
    
    .copyright_box{
        /* width: 100%; */
        position: absolute;
        right: 0;
    }
    
    .social_links_box{
        margin-top: 250px;
        margin-left: -305px;
        
    }
    
    .social_icons{
        fill: white;
        cursor: pointer;
    }
    
    .social_icons:hover{
        fill: #F67E7E;
        transition: 0.3s;
    }

    .red_part{
        font-family: Livvic;
        background-color: #F67E7E;
        height: 220px;
        z-index: 4;
        width: 100%;
        top: 1550px;
        position: relative;
    }
    
    .group_8{
        margin-top: 76px;
        z-index: 3;
        position: absolute;
        
    }
    
    .red_box{
        display: inline-flex;
        height: 48px;
        justify-content: center;
        align-items: flex-start;
        gap: 260px;
        flex-shrink: 0;
        margin-top: 86px;
        margin-left: 273px;
        
    }
    
    .red_name{
        color: #012F34;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin: 0;
        z-index: 3;
        width: 336px;
        font-size: 25px;
        white-space: nowrap;
        height: 44px;
        margin-left: -160px;
        
    }
    
    .contact_red_box{
        color: #012F34;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-left: -300px;
        position: relative;
        top: -7px;
        text-decoration: none;
        border: 2px #012F34 solid;
        border-radius: 60px;
        padding: 10px 30px 10px 30px;
        position: relative;
        right: -100px;
    }
    
    .contact_red_box:hover{
        background-color: #012F34;
        color: white;
        transition: 0.3s;
    }
   
    .clients_h1{
        font-size: 32px;
        margin-top: 10px;
    }

    .client_box{
        width: 780px;
    }
    
    .client_img{
        /* filter: brightness(0) invert(1); */
    }
    
    .verge{
        /* margin-top: 70px; */
        margin-left: 0px;
        width: 120px;
    }
    
    .jakarta{
        /* margin-top: 70px; */
        margin-left: 170px;
        width: 120px;
        height: 20px;
    }
    
    .guardian{
        /* margin-top: 70px; */
        margin-left: 340px;
        width: 120px;
        height: 20px;
    }
    
    .techradar{
        /* margin-top: 70px; */
        margin-left: 510px;
        width: 120px;
        height: 20px;
    }
    
        .gadget{
            /* margin-top: 64px; */
            margin-left: 680px;
            width: 100px;
            height: 40px;
        }

    .blue_moon {
        z-index: 0;
        position: absolute;
        top: -100px;

    }

    .background1 {
        z-index: 1;
    }

}

@media  (max-width: 767px){

    .background1{
        height: 2300px;
    }

    .grid{
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(6, 253px);
        width: 358px;
    }

    .client_box{
        width: 120px;
        
    }

    .NavList > li{
        display: block;
        flex-direction: column;
        width: 100%;
    }

    .headerHr{
        display: none;
    }

    .NavList a{
        color: white;
        text-decoration: none;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    }

    .NavList.active{
        right: 350px;
        transform: translateX(0);
        z-index: 1;
    }

    .NavList{
        display: none;
    }

    .home{
        margin-top: 50px;
    }

    .home, .about, .contact {
        color: #FFF;
        font-family: "Livvic", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 63px;
        margin-left: 0;
        text-decoration: none; 
        display: block;  
        width: 60px;
    }

    .contact{
        padding: 10px 15px 10px 15px;
        transform: translateY(0);
        width: 150px;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }

    .MyTeam{
        margin-top: 48px;
        margin-left: 24px;
    }

    .bottomimg{
        margin-top: 368px;
    }

    .hamburger{
        position: absolute;
        display: flex;
        margin-left: 90%;
        transform: translateY(-185%);
        z-index: 15;
    }
    
    .hamburger.hidden{
        display: none;
    }

    .kryziukas{
        display: none;
    }

    .kryziukas.active{
        display: flex;
        position: fixed;
        margin-left: 433px;
        z-index: 16;
        transform: translateY(-185%);
    }

    .menuimg{
        margin-left: 198px;
        margin-top: 275px;
    }

    .about_h1{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        margin-top: 70px;
        margin-left: 30px;
    }

    .headerP{
        color: #FFF;
        text-align: center;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; 
        width: 327px;
        margin-left: 93px;
        margin-top: 5px;
        
    }
    .footer_logo {
        position: absolute;
        z-index: 1;
        margin-top: 10px;
        left: 170px;
    }
    footer{
        background-color: rgba(0, 37, 41, 1);
        height: 196px;
        
    }
    
    .footer_box{
        display: inline-flex;
        justify-content: center;
        position: relative;
        top: 1550px;
        width: 100%;
        height: 350px;
        background-color: rgba(0, 37, 41, 1);
        z-index: 7;
    }
    
    .footer_links{
        text-decoration: none;
        color: white;
        font-family: Livvic;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
        position: relative;
        right: -125px;
        top: -20px;
       
    
    }
    
    .footer_links:hover{
        color: #F67E7E;
        transition: 0.3s;
    }
    
    .footer_nav{
        display: inline-flex;
        /* justify-content: center; */
        /* align-items: flex-start; */
        gap: 40px;
        margin-top: 30px;
        position: relative;
        z-index: 2;
        margin-left: 163px;
        margin-top: 115px;
    }
    .adres_box{
        color: #FFF;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        opacity: 0.6;
    }
    
    .adresas{
        right:  230px;
        position: relative;
        margin-top: 135px;
        width: 200px;
        line-height: 25px;
         text-align: center;
    }
    
    .copyright{
        color: #FFF;
        /* text-align: right; */
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        margin-top: -90px; 
        position: relative;
        right: -60px;
        top: 300px;
    }
    
    .copyright_box{
        /* width: 100%; */
        position: absolute;
        right: 0;
    }
    
    .social_links_box{
        position: relative;
        top: 200px;
        left: -10px;
        
    }
    
    .social_icons{
        fill: white;
        cursor: pointer;
    }
    
    .social_icons:hover{
        fill: #F67E7E;
        transition: 0.3s;
    }

    .red_part{
        font-family: Livvic;
        background-color: #F67E7E;
        height: 220px;
        z-index: 4;
        width: 100%;
        top: 1550px;
        position: relative;
    }
    
    .group_8{
        margin-top: 76px;
        z-index: 3;
        position: absolute;
        
    }
    
    .red_box{
        display: inline-flex;
        height: 48px;
        justify-content: center;
        align-items: flex-start;
        gap: 260px;
        flex-shrink: 0;
        margin-top: 86px;
        margin-left: 273px;
        
    }
    
    .red_name{
        color: #012F34;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin: 0;
        z-index: 3;
        width: 336px;
        font-size: 25px;
        height: 44px;
        position: relative;
        left: -150px;
        top: -50px;
        
    }
    
    .contact_red_box{
        color: #012F34;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        right: 690px;
        width: 100px;
        position: relative;
        top: 10px;
        text-decoration: none;
        border: 2px #012F34 solid;
        border-radius: 60px;
        padding: 10px 30px 10px 30px;
        justify-content: center;
    }
    
    .contact_red_box:hover{
        background-color: #012F34;
        color: white;
        transition: 0.3s;
    }

    .clients_h1{
        color: #fff;
        text-align: center;
        font-family: "Livvic","sans-serif";
        font-size: 43px;
        position: relative;
        left: 5px;
        font-weight: 700;
        margin-top: 80px;
    }
    
    .client_img{
        filter: brightness(0) invert(1);
    }
    
    .verge{
        margin-top: -10px;
        margin-left: 0px;
        width: 120px;
        
        
    }
    
    .jakarta{
        margin-top: 70px;
        margin-left: 0px;
        width: 120px;
        height: 20px;
    }
    
    .guardian{
        margin-top: 140px;
        margin-left: 0px;
        width: 120px;
        height: 20px;
    }
    
    .techradar{
        margin-top: 200px;
        margin-left: 0px;
        width: 120px;
        height: 20px;
    }
    
    .gadget{
        margin-top: 260px;
        margin-left: 20px;
        width: 80px;
        height: 35px;
        /* left: 20px; */
    }

    .blue_moon {
        z-index: 0;
        position: absolute;
        top: -100px;
        left: -100px;

    }

    .background1 {
        z-index: 1;
    }
    
    .slider{
        position: fixed;
        right: 0;
        width: 87%;
        height: 100%;
        display: inline-block;
        z-index: 15;
    }
}

.overlay{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 100%;
    background-color: #2C6269;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    list-style-type: none;
}

.overlay-list{
    padding-left: 40px;
    list-style-type: none;
    margin-top: 200px;
}

.slide{
    width: 100%;
    left: 0;
}

.container1{
    position: relative;
    width: 100%;
}

