body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #014E56;
    color: #FFFFFF;
}
.container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
}
/* icons 1,2,3,5 */
.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
   
}
.icon1, .icon2, .icon3, .icon4, .icon5 {
    position: absolute;
}
/* juodas pusrutulis */
.icon1 {
    width: 7.8%;
    height: 30%;
    top: 27%;
    left: 0%;
    z-index: 3;
}
/* mazi raudoni kvadratai */
.icon2 {
    width: 4.2%;
    height: 9%;
    top: 42%;
    left: 3.6%;
    z-index: 3;
}
/* melynos linijos */
.icon3 {
    width: 7.8%;
    height: 4%;
    top: 37.5%;
    left: 0%;
    z-index: 4;
}
/* 2 pusrutuliai su kvadratu desineje */
.icon4 {
    width: 7%;
    height: 25%;
    top: 60%;
    left: 93%;
    z-index: 5;
}
/* permatomas kvadratas */
.icon5 {
    width: 7.8%;
    height: 15%;
    top: 27%;
    left: 0%;
    z-index: 1;
}
.info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50px;
}
.info {
    display: flex;
    gap: 4%;
    margin-top: 1%;
    margin-left: 27%;
}
/* h1,h2 images dydziai */
.info img {
    width: 15%;
    height: 15%;
}
/* form section */
.right-section {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.form-container {
    padding: 5%;
    border-radius: 5%;
    width: 20%;
    margin-right: 55%;
    margin-top: 30%;
}
/* keicia button */
form {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    gap: 15px;
    margin-top: 30%;
}
input, textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff; /* Always keep text white */
    padding: 10%;
    width: 300%;
    outline: none;
  
}
 /* keicia formoje Message field dydi */
textarea {
    height: 100px;
    resize: none;
}
button {
    background: #FFFFFF;
    border: none;
    padding: 5% 5%; 
    cursor: pointer;
    font-size: 100%;
    color: #014E56;
    font-weight: bold;
    border-radius: 20%; 
}
/* Contact h1 */
h1 {
    margin-left: 28%;
    font-size: 400%;
    color: #FFFFFF;
    margin-top: 20%;
/* Ask about us h2 */
}
h2 {
    margin-left: 28%;
    font-size: 400%;
    color: #F67E7E;
    
/* tekstas prie h1,h2 */
}
p {
    font-size: 200%;
    justify-content: center;
}


/* hover styles */


/* Hover ir focus */
input:hover:not(.error),
textarea:hover:not(.error),
input:focus:not(.error),
textarea:focus:not(.error) {
    border-bottom: 1px solid #79C8C7;
}


input:hover:not(.error),
textarea:hover:not(.error),
input:focus:not(.error),
textarea:focus:not(.error) {
    color: #FFFFFF;
}

/* melyna underline kada hover  */
input:hover:not(.error),
textarea:hover:not(.error),
input:focus:not(.error),
textarea:focus:not(.error) {
    border-bottom: 1px solid #79C8C7;
}


/* error statusas */
input.error,
textarea.error {
    border-bottom: 1px solid #F67E7E;
    color: #F67E7E;
}

/* error placeholder */
input.error::placeholder,
textarea.error::placeholder {
    color: #F67E7E;
}

/* error message styling */
.error-message {
    display: none;
    color: #F67E7E;
    font-size: 12px;
    margin-top: 5px;
}

/* rodo error */
.error-message.active {
    display: block;
}

header{
    background-color: #014E56;
    width: 100%;
    height: 0px;
    flex-shrink: 0;
}

.MyTeam{
    width: 10%;
    height: 3%;
    flex-shrink: 0%;
    margin-left: 10%;
    margin-top: 5%;
}

.NavList{
    margin-top: -2.5%;
}

.home{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: 600;
    line-height: 20%;
    margin-left: 365px;
}

.about{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-size: 100%;
    font-weight: 600;
    line-height: 20%;
    margin-left: 50%;
}

.home:link{
    color: #FFF;
    text-decoration: none;
}
.home:hover{
    color: #F67E7E;;
    text-decoration: none;
}

.about:link{
    color: #FFF;
    text-decoration: none;
}
.about:hover{
    color: #F67E7E;;
    text-decoration: none;
}

.contact:link{
    color: #FFF;
    text-decoration: none;
}
.contact:hover{
    background-color: #FFF;
    color: black;
}

.NavList > li{
    display: inline-block;
}

.contact{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    display: flex;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-left: 1200px;    
    border: 2px white solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
}

.header{
    margin-left: 5%;
}


footer{
    background-color: rgba(0, 37, 41, 1);
    height: 40%;
    
}

.footer_box{
    display: flex;
}

.footer_links{
    text-decoration: none;
    color: white;
    font-family: Livvic;
    font-size: 125%;
    font-style: normal;
    font-weight: 600;
    line-height: 20%;
}

.footer_links:hover{
    color: #F67E7E;
    transition: 0.3s;
}

.footer_nav{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
    margin-left: 163px;
    margin-top: 115px;
}

.footer_logo{
    position: absolute;
    z-index: 1;
    margin-top: 2%;
    margin-left: 8.5%;

}

.adres_box{
    color: #FFF;
    font-family: "Livic", sans-serif;
    font-size: 60%;
    font-style: normal;
    font-weight: 600;
    line-height: 250%;
    opacity: 0.6;
}

.adresas{
    margin-left: 95%;
    margin-top: 10%;
    width: 100%;
}

.copyright{
    color: #FFF;
    text-align: right;
    font-family: Livvic;
    font-size: 100%;
    font-style: normal;
    font-weight: 600;
    line-height: 15%;
    margin-top: 3%;
    opacity: 0.6;
    margin-right: 13%;
}

.social_links_box{
    margin-top: 4%;
    margin-left: 1000px;
    margin-right: 165px;
}

.social_icons{
    fill: white;
}

.social_icons:hover{
    fill: #F67E7E;
    transition: 0.3s;
}
