body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #014E56;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
}
 /* pataisykite postions jei mokate greitai */
.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
}

.left-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon1 {
    width: 200px;
    height: 200px;
    top: 245px;
    left: 100px;
}

.icon2{
    width:  53px;
    height: 44px;
    top: 345px;
    left: 100px;
}

.icon3 {
   width: 100px;
   height: 44px;
   top: 301px;
   left: 100px;
}

.ask-us-about {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    gap: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #f28b82;
}

.info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.info img {
    width: 72px;
    height: 72px;
}
 /* pataisykite postions jei mokate greitai */
.right-section {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.form-container {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
    font-size: 16px;
    width: 100%;
}

button {
    background: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #014E56;
    font-weight: bold;
    border-radius: 5px;
}
  /* pusrutulis su kvadratu */
.background-img {
    width: 225px;
    height: 200px;
    top: 500px;
    right: 200px;
}
