body{
    margin: 0;
}

header{
    background-color: #014E56;
    width: 100%;
    height: 800px;
    flex-shrink: 0;
}

.MyTeam{
    position: absolute;
    width: 160px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 165px;
    margin-top: 77px;
    z-index: 1;
}

.NavList{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    transform: translateY(100%);
}

.home{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 63px;
    margin-left: 365px;
}

.about{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 63px;
    margin-left: 40px;
}

.home:link{
    color: #FFF;
    text-decoration: none;
}
.home:hover{
    color: #F67E7E;;
    text-decoration: none;
    transition: 0.3s;
}

.about:link{
    color: #FFF;
    text-decoration: none;
}
.about:hover{
    color: #F67E7E;;
    text-decoration: none;
    transition: 0.3s;
}

.contact:link{
    color: #FFF;
    text-decoration: none;
}
.contact:hover{
    background-color: #FFF;
    color: black;
    transition: 0.3s;
}

.NavList > li{
    display: inline-block;
}

.contact{
    display: flex;
    color: white;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    border: 2px white solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
    margin-left: 900px;
    text-decoration: none;
    transform: translateY(25%);
}

/* CircleLeft cia tas rutuliukas is kaires */
.circleLeft{
    margin-top: 150px;
    margin-right: 1340px;
    flex-shrink: 0;
}

/*Didelis tekstas is kaires*/
.header_h1{
    margin-top: -200px;
    margin-left: 165px;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    width: 600px;
}

/*zodis talent*/
.header_h1 > span{
    color: #F67E7E;
    font-family: "Livvic", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

/*Tekstas desineje*/
.headerP{
    width: 445px;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding-left: 1200px;
    margin-top: -190px;
}

/*Zydras bruksnelis virs teksto is desines*/
.headerHr{
    position: relative;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background: #79C8C7;
    border: 0;
    margin-top: 144px;
    margin-left: 1200px;
    transform: translateY(3500%);
}

/*containeris kuriame randasi headerHr, h1 ir headerP*/
.container{
    margin-top: 20px;
}

.bottomcontainer{
    position: relative;
    width: 1440;
    display: flex;
    bottom: 0;
}

.bottomimg{
    position: absolute;
    right: 175px;
    transform: translateY(116%);
}

.first_half{
    width: 100%;
    height: 784px;
    flex-shrink: 0;
    background: #012F34;
}
/*kairine dalis*/
.left-text{
    margin: 0;
    padding-top: 140px;
    margin-left: 165px;
}
.mainHr{
    padding: 0;
    margin: 0;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    border: none;
    background-color: #F67E7E;
}

.mainH2{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    padding-top: 20px;
    width: 445px;
}

/*konteineris kontentui is desines*/
.right-text{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    right: 165px;
}

/*virsutine dalis is desines*/

.right_text_container{
    height: 700px;
    margin-top: -7%;
    margin-right: 15%;
}

.up{
    margin-left: 26%;
    margin-top: -15%;
    padding-bottom: 13%;
}

.mid{
    margin-left: 26%;
    margin-top: -15%;
    padding-bottom: 13%;
}

.low{
    margin-left: 26%;
    margin-top: -17.5%;
}

.upperImg{
    margin-top: -8%;
    margin-right: 29%;
}
.upperText{
    color: #F67E7E;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin: 0;
    padding: 0;
    margin-top: -8%;
    margin-right: 20%;
    margin-bottom: 12%;
}
.uppersubText{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    width: 445px;
    margin-top: -6.3%;
    margin-right: 10.5%;
    opacity: 0.8;
}

/*vidurine dalis is desines*/
.midImg{
    margin: 0;
    padding: 0;
    margin-right: 29%;
    margin-top: -2.5%;
}
.midText{
    color: #F67E7E;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    width: 445px;
    margin-top: -2.5%;
    margin-right: 10.5%;
}
.midsubText{
    color: #FFF;
    font-family: "Livic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; 
    width: 450px;
    margin-right: 10.3%;
    margin-top: -0.7%;
    opacity: 0.8;
}

/*apatine dalis is desines*/
.lowerImg{
    margin: 0;
    padding: 0;
    margin-right: 29%;
    margin-top: 3%;
}
.lowerText{
    color: #F67E7E;
    font-family: "Livic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin-top: 3%;
    margin-right: 20.3%;
}
.lowersubText{
    color: #FFF;
    font-family: "Livic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    width: 445px;
    opacity: 0.8;
    margin-top: 4.8%;
    margin-right: 10.5%;
}
.lowerrightImg{
    position: absolute;
    margin-right: -4.98%;
    margin-top: 5.95%;
    flex-shrink: 0;
}

/* antra puse */

.second_half{
    background-color: rgba(0, 64, 71, 1);
    font-family: "Livic", sans-serif;
    height: 895px;
}

.pavadinimo_box{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
}

.succsess_storie{
    color: #79C8C7;
}

.kabutes{
    position: absolute;
    z-index: 1;
    margin-left: 142px;
}

.aprasu_box{
    display: flex;
    font-family: Livvic;
    justify-content: center;
    /* width: 1240px; */
    margin: auto;
    gap: 30px;
}

.aprasai{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 25px;
    margin: auto;
    margin-top: 35px;
}

.aprasai_pirmo{
    text-align: center;
    height: 80px;
    width: 350px;
    
    text-align: center;
    
    line-height: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.aprasai_antro{
    text-align: center;
    height: 100px;
    width: 350px;
    line-height: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.aprasai_trecio{
    text-align: center;
    height: 80px;
    width: 350px;
    line-height: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.person_name_one{
    color: #79C8C7;
    text-align: center;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
}

.person_specialte_one{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
}

.moteris{
    width: 92px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 62px;
    border: 2px solid #C4FFFE;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-top: 50px;
}

.person_name_two{
    color: #79C8C7;
    text-align: center;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
}

.person_specialte_two{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
}

.moteris_2{
    width: 92px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 62px;
    border: 2px solid #C4FFFE;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-top: 50px;
}

.person_name_three{
    color: #79C8C7;
    text-align: center;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
}

.person_specialte_three{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
}

.senukas{
    width: 92px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 62px;
    border: 2px solid #C4FFFE;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    margin-top: 50px;
}

.container_second_half_icon_du{
    position: relative;
}

.second_half_icon_du{
    position: absolute;
    margin-top: 275px;
    flex-shrink: 0;
    right: 0;
}

/* raudona dalis */
.red_part{
    font-family: Livvic;
    background-color: #F67E7E;
    height: 220px;
}

.group_8{
    margin-top: 76px;
    z-index: 1;
    position: absolute;
}

.red_box{
    
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 260px;
    flex-shrink: 0;
    margin-top: 86px;
    margin-left: 273px;
}

.red_name{
    color: #012F34;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    
}

.contact_red_box{
    color: #012F34;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    border: 2px #012F34 solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
}

.contact_red_box:hover{
    background-color: #012F34;
    color: white;
    transition: 0.3s;
}

/* footer */

footer{
    background-color: rgba(0, 37, 41, 1);
    height: 196px;
    
}

.footer_box{
    display: inline-flex;
    /* justify-content: center; */
    position: relative;
    width: 100%;
}

.footer_links{
    text-decoration: none;
    color: white;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.footer_links:hover{
    color: #F67E7E;
    transition: 0.3s;
}

.footer_nav{
    display: inline-flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    gap: 40px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
    margin-left: 163px;
    margin-top: 115px;
}

.footer_logo{
    position: absolute;
    z-index: 1;
    margin-top: 48px;
    margin-left: 165px;

}

.adres_box{
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.adresas{
    margin-left: 190px;
    margin-top: 45px;
    width: 200px;
    line-height: 25px;
}

.copyright{
    color: #FFF;
    /* text-align: right; */
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    margin-top: 42px;
    width: 255px;
    opacity: 0.6;
    margin-right: 165px;
}

.copyright_box{
    /* width: 100%; */
    position: absolute;
    right: 0;
}

.social_links_box{
    margin-top: 48px;
    margin-left: 145px;
    
}

.social_icons{
    fill: white;
    cursor: pointer;
}

.social_icons:hover{
    fill: #F67E7E;
    transition: 0.3s;
}


@media(max-width: 768px){
    .MyTeam{
        margin-left: 39px;
        margin-top: 72px;
    }
    
    .NavList{
        padding-top: 3.4vw;
        transform: translateY(20%);
    }
    
    .home{
        margin-left: 215px;
    }
    
    .contact{
        margin-left: 65vw;
        transform: translateY(-105%);
    }

    .circleLeft{
        display: none;
    }
    
    /*Didelis tekstas is kaires*/
    .header_h1{
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px; 
        margin-top: 60px;
        margin-left: 220px;
        width: 350px;
    }
    
    /*zodis talent*/
    .header_h1 > span{
        font-size: 64px;
    }
    
    /*Tekstas desineje*/
    .headerP{
        color: #FFF;
        font-family: Livvic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        width: 470px;
        margin-left: -143%;
        margin-top: 1%;
    }
    
    /*Zydras bruksnelis virs teksto is desines*/
    .headerHr{
        display: none;
    }

    .bottomimg{
        right: 200px;
        margin-top: 9.8%;
        display: flex;
        justify-content: center;
    }

    .Pdiv{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 1000px;
    }

    .mainH2{
        font-size: 32px;
        width: 500px;
        margin-top: -0.1%;
    }

    .left-text{
        padding: 0;
        margin-left: 10%;
        padding-top: 10%;
    }

    .lowerrightImg{
        margin-top: -29%;
    }

    .right_text_container{
        padding: 0;
        margin: 0;
        margin-right: 28%;
        margin-top: 10%;
    }
}

@media(max-width: 480px){  
    .MyTeam{
        margin-top: 48px;
        margin-left: 24px;
    }

    .circleLeft{
        display: none;
    }

    .header_h1{
        position: absolute;
        margin-left: 17%;
        margin-top: 150px;
    }

    /*Tekstas desineje*/
    .headerP{
        position: absolute;
        padding: 0;
        width: 330px;
        margin-top: 350px;
        right: 60px;
    }
    
    .Pdiv{
        margin-left: 85%;
    }

    /*Zydras bruksnelis virs teksto is desines*/
    .headerHr{
        display: none;
    }

    .NavList{
        display: none;
    }

    .bottomimg{
        margin-top: 121.58%;
        right: 50px;
    }

    .first_half{
        height: 1250px;
    }

    .mainH2{
        font-size: 32px;
        width: 240px;
        margin-top: -0.1%;
        margin-bottom: -10%;
    }

    .left-text{
        padding: 0;
        margin-left: 5%;
        padding-top: 10%;
    }

    .lowerrightImg{
        margin-top: -55.5%;
    }

    .right_text_container{
        padding: 0;
        margin: 0;
        margin-top: 30%;
        margin-right: 25%;
        text-align: center;
    }

    .upperImg, .midImg, .lowerImg{
        display: flex;
        width: 72px;
        height: 72px;
        transform: translateX(425%);
        margin-bottom: 20%;
    }

    .upperText, .lowerText{
        width: 445px;
    }

    .uppersubText, .midsubText, .lowersubText{
        width: 330px;
        margin-left: 20%;
    }

    /* antroji dalis aprasai */
    .second_half{
        height: 1588px;
        font-family: "Livic", sans-serif;   
    }

    .pavadinimo_box{
       font-size: 22px;
       font-style: normal;
       font-family: Livvic;
       font-weight: 700;
       line-height: 32px;
       width: 327px;
       margin: auto;
    }

    .aprasu_box{
        width: 375px;
        flex-direction: column;
        gap: 280px;
    }

    .second_half_icon_du{
        margin-top: 285;
    }

    /* raudona dalis */
    .red_part{
        height: 302px;
    }

/* footer */
    footer{
        height: 445px;
        justify-content: center ;
    }

    .footer_box{
        flex-direction: column;
        height: 100%;
    }

    .footer_container{
        justify-content: center;
    }

    .footer_nav{
       margin-left: 171px;
       
    }

    .adres_box{
        text-align: center;
    }

    .adresas{
        margin: auto;
        margin-top: 30px;
    }

    .social_links_box{
        margin: 0;
    }

    .copyright_box{
        bottom: 64px;
        text-align: center;
        /* justify-content: center; */
        width: 100%;
    }
    
    .copyright{
        margin: 0;
        margin-left: 113px;
        margin-top: 15px;
    }
}
