header{
    background-color: #014E56;
    width: 100%;
    height: 800px;
    flex-shrink: 0;
}

.MyTeam{
    width: 160px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 165px;
    margin-top: 77px;
}

.NavList{
    margin-top: -40px;
}

.home{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-left: 365px;
}

.about{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 40px;
}

.home:link{
    color: #FFF;
    text-decoration: none;
}
.home:hover{
    color: #F67E7E;;
    text-decoration: none;
    transition: 0.3s;
}

.about:link{
    color: #FFF;
    text-decoration: none;
}
.about:hover{
    color: #F67E7E;;
    text-decoration: none;
    transition: 0.3s;
}

.contact:link{
    color: #FFF;
    text-decoration: none;
}
.contact:hover{
    background-color: #FFF;
    color: black;
    transition: 0.3s;
}

.NavList > li{
    display: inline-block;
}

.contact{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-left: 1560px;    
    border: 2px white solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
}

/* CircleLeft cia tas rutuliukas is kaires */
.circleLeft{
    margin-top: 150px;
    margin-right: 1340px;
    flex-shrink: 0;
}

/*Didelis tekstas is kaires*/
.header_h1{
    margin-top: -200px;
    margin-left: 165px;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    width: 600px;
}

/*zodis talent*/
.header_h1 > span{
    color: #F67E7E;
    font-family: "Livvic", sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

/*Tekstas desineje*/
.headerP{
    width: 445px;
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-left: 1800px;
    margin-top: -190px;
}

/*Zydras bruksnelis virs teksto is desines*/
.headerHr{
    position: absolute;
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background: #79C8C7;
    border: 0;
    margin: 0;
    margin-left: 1800px;
    margin-top: 150px;
}

/*containeris kuriame randasi headerHr, h1 ir headerP*/
.container{
    margin-top: 20px;
}

/*Pusrutulis is kaires rozines spurgos*/
.oval{
    position: absolute;
    fill: #2C6269;
    position: absolute;
    margin-left: 1900px;
    margin-top: 207px;
    z-index: 1;
    flex-shrink: 0;
}

/*Bruksneliai ant oval*/
.combinedshape{
    position: absolute;
    fill: #79C8C7;
    z-index: 1;
    flex-shrink: 0;
    margin-top: 210px;
    margin-left: 1900px;
}

/*rozine spurga*/
.combinedshapecopy{
    position: absolute;
    margin-left: 2040px;
    z-index: 4;
    flex-shrink: 0;
    margin-top: 207px;
}

/*spurgos seselis*/
.combinedshapecopy1{
    position: absolute;
    z-index: 1;
    margin-top: 210px;
    flex-shrink: 0;
    margin-left: 2070px
}

/*zydras kvadratas prie rozines spurgos is desines*/
.square{
    position: absolute;
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    background: #79C8C7;
    z-index: 2;
    margin-left: 2220px;
    margin-top: 205px;
}

.first_half{
    width: 100%;
    height: 784px;
    flex-shrink: 0;
    background: #012F34;
}
/*kairine dalis*/
.left-text{
    margin: 0;
    padding-top: 140px;
    margin-left: 165px;
}
.mainHr{
    width: 50px;
    height: 4px;
    flex-shrink: 0;
    background: #F67E7E;
    border: 0;
    margin: 0;
}
.mainH2{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    padding-top: 20px;
    width: 445px;
}

/*konteineris kontentui is desines*/
.right-text{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

/*virsutine dalis is desines*/

.right_text_container{
    height: 700px;
    margin-top: -10%;
    margin-right: 15%;
}

.up{
    margin-left: 26%;
    margin-top: -15%;
    padding-bottom: 13%;
}

.mid{
    margin-left: 26%;
    margin-top: -15%;
    padding-bottom: 13%;
}

.low{
    margin-left: 26%;
    margin-top: -17.5%;
}

.upperImg{
    margin-top: -8%;
    margin-right: 29%;
}
.upperText{
    color: #F67E7E;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin: 0;
    padding: 0;
    margin-top: -8%;
    margin-right: 20%;
    margin-bottom: 12%;
}
.uppersubText{
    color: #FFF;
    font-family: "Livvic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    width: 445px;
    margin-top: -6.3%;
    margin-right: 10.5%;
    opacity: 0.8;
}

/*vidurine dalis is desines*/
.midImg{
    margin: 0;
    padding: 0;
    margin-right: 29%;
    margin-top: -2.5%;
}
.midText{
    color: #F67E7E;
    font-family: "Livvic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    width: 445px;
    margin-top: -2.5%;
    margin-right: 10.5%;
}
.midsubText{
    color: #FFF;
    font-family: "Livic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; 
    width: 450px;
    margin-right: 10.3%;
    margin-top: -0.7%;
    opacity: 0.8;
}

/*apatine dalis is desines*/
.lowerImg{
    margin: 0;
    padding: 0;
    margin-right: 29%;
    margin-top: 3%;
}
.lowerText{
    color: #F67E7E;
    font-family: "Livic", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    margin-top: 3%;
    margin-right: 20.3%;
}
.lowersubText{
    color: #FFF;
    font-family: "Livic", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    width: 445px;
    opacity: 0.8;
    margin-top: 4.8%;
    margin-right: 10.5%;
}
.lowerrightImg{
    position: absolute;
    margin-right: -4.98%;
    margin-top: 5.95%;
    flex-shrink: 0;
}

/* antra puse */

.second_half{
    background-color: rgba(0, 64, 71, 1);
    font-family: "Livic", sans-serif;
    height: 745px;
}

.pavadinimo_box{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
}

.succsess_storie{
    color: #79C8C7;
}

.kabutes{
    position: absolute;
    z-index: 1;

}

.aprasu_box{
    display: flex;
    gap: 30px;
}

.aprasai{
    position: relative;
    z-index: 2;
    color: white;
    font-size: 25px;
}

.aprasai_pirmo{
    text-align: center;
    height: 80px;
    width: 350px;
    margin-left: 600px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.kabutes_vienas{
    margin-left: 740px;
}

.aprasai_antro{
    text-align: center;
    height: 100px;
    width: 350px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.kabutes_du{
    margin-left: 1120px;
}

.aprasai_trecio{
    text-align: center;
    height: 80px;
    width: 350px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
}

.kabutes_trys{
    margin-left: 1500px;
}

/* raudona dalis */
.red_part{
    font-family: Livvic;
    background-color: #F67E7E;
    height: 220px;
}

.group_8{
    margin-top: 76px;
    z-index: 1;
    position: absolute;
}

.red_box{
    
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 260px;
    flex-shrink: 0;
    margin-top: 86px;
    margin-left: 273px;
}

.red_name{
    color: #012F34;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
    
}

.contact_red_box{
    color: #012F34;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
    border: 2px #012F34 solid;
    border-radius: 60px;
    padding: 10px 30px 10px 30px;
}

.contact_red_box:hover{
    background-color: #012F34;
    color: white;
    transition: 0.3s;
}

/* footer */

footer{
    background-color: rgba(0, 37, 41, 1);
    height: 196px;
    
}

.footer_box{
    display: flex;
}

.footer_links{
    text-decoration: none;
    color: white;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.footer_links:hover{
    color: #F67E7E;
    transition: 0.3s;
}

.footer_nav{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 30px;
    position: relative;
    z-index: 2;
    margin-left: 163px;
    margin-top: 115px;
}

.footer_logo{
    position: absolute;
    z-index: 1;
    margin-top: 48px;
    margin-left: 165px;

}

.adres_box{
    color: #FFF;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.adresas{
    margin-left: 190px;
    margin-top: 45px;
    width: 200px;
}

.copyright{
    color: #FFF;
    text-align: right;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    margin-top: 48px;
    opacity: 0.6;
    margin-right: 165px;
}

.social_links_box{
    margin-top: 48px;
    margin-left: 1000px;
    margin-right: 165px;
}

.social_icons{
    fill: white;
}

.social_icons:hover{
    fill: #F67E7E;
    transition: 0.3s;
}
